<ion-header>
  <ion-toolbar>
    <ion-title>Create an account</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div id="container">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-input placeholder="Email" [(ngModel)]="email"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-input placeholder="Password" type="password" [(ngModel)]="password"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-input placeholder="Re-enter password" type="password" [(ngModel)]="rePassword"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button (click)="signup()">Create</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

</ion-content>
