<ion-header>
  <ion-toolbar>
    <ion-title>Open tasks</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let task of tasks" (click)="completeTask(task)">
      <ion-checkbox color="primary" slot="start" [(ngModel)]="task.done"></ion-checkbox>
      <ion-label>
        <strong>{{ task.title }}</strong>
        <p>{{ task.description }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="showModal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
