ion-input {
  border-radius: 3px;
  border: solid 1px;
  --padding-start: 10px;
  height: 50px;
}

ion-textarea {
  border-radius: 3px;
  border: solid 1px;
  --padding-start: 10px;
}

ion-button {
  width: 100%;
  --border-radius: 3px;
}

ion-col {
  margin-bottom: 6px;
}

