<ion-header>
  <ion-toolbar>
    <ion-title>Create new task</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div id="container">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-input placeholder="Title" [(ngModel)]="title"></ion-input>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-textarea placeholder="Enter more information here..." [(ngModel)]="description"></ion-textarea>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-button (click)="addTask()">Add</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

</ion-content>
