#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 40%;
  transform: translateY(-50%);
}

ion-input {
  text-align: start;
  border-radius: 10px;
  border: solid 1px;
  --padding-start: 10px;
}

ion-textarea {
  border-radius: 10px;
  text-align: start;
  border: solid 1px;
  --padding-start: 10px;
}

ion-button {
  width: 100%;
  --border-radius: 10px;
}

ion-col {
  margin-bottom: 6px;
}

